* text=auto !eol
freeglut/freeglut/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/AUTHORS svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/COPYING svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/ChangeLog svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/FrequentlyAskedQuestions -text
freeglut/freeglut/LISEZ_MOI svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/NEWS svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/README svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/README.win32 svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/TODO svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/autogen.sh svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/configure.ac svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/download.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/freeglut.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/freeglut_logo.png -text
freeglut/freeglut/doc/freeglut_user_interface.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/index.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/ogl_sm.png -text
freeglut/freeglut/doc/progress.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/structure.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.dep -text
freeglut/freeglut/freeglut.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.dsw svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.kdevelop svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.kdevprj svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.lsm svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.mak -text
freeglut/freeglut/freeglut.rc svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.spec svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.tgt svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.wpj svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut_evc4.vcp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut_evc4.vcw svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut_static.dep -text
freeglut/freeglut/freeglut_static.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut_static.mak -text
freeglut/freeglut/freeglut_static.tgt svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut_static_vs2008.vcproj -text
freeglut/freeglut/freeglut_vs2008.sln -text
freeglut/freeglut/freeglut_vs2008.vcproj -text
freeglut/freeglut/include/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/freeglut.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/freeglut_ext.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/freeglut_std.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/glut.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/CallbackMaker/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/CallbackMaker/CallbackMaker.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/CallbackMaker/CallbackMaker.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/CallbackMaker/CallbackMakerStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/CallbackMaker/CallbackMakerStatic_vs2008.vcproj -text
freeglut/freeglut/progs/demos/CallbackMaker/CallbackMaker_vs2008.vcproj -text
freeglut/freeglut/progs/demos/CallbackMaker/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals/Fractals.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals/FractalsStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals/FractalsStatic_vs2008.vcproj -text
freeglut/freeglut/progs/demos/Fractals/Fractals_vs2008.vcproj -text
freeglut/freeglut/progs/demos/Fractals/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals/fractals.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals/fractals.dat svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals_random/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals_random/Fractals_random.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals_random/Fractals_randomStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals_random/Fractals_randomStatic_vs2008.vcproj -text
freeglut/freeglut/progs/demos/Fractals_random/Fractals_random_vs2008.vcproj -text
freeglut/freeglut/progs/demos/Fractals_random/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals_random/fractals.dat svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals_random/fractals_random.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Lorenz/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Lorenz/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Lorenz/lorenz.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Lorenz/lorenz.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Lorenz/lorenzStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Lorenz/lorenzStatic_vs2008.vcproj -text
freeglut/freeglut/progs/demos/Lorenz/lorenz_vs2008.vcproj -text
freeglut/freeglut/progs/demos/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/One/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/One/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/One/one.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/One/one.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/One/oneStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/One/oneStatic_vs2008.vcproj -text
freeglut/freeglut/progs/demos/One/one_vs2008.vcproj -text
freeglut/freeglut/progs/demos/demos.dsw svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/demos_vs2008.sln -text
freeglut/freeglut/progs/demos/shapes/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/shapes/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/shapes/shapes.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/shapes/shapes.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/shapes/shapesStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/shapes/shapesStatic_vs2008.vcproj -text
freeglut/freeglut/progs/demos/shapes/shapes_vs2008.vcproj -text
freeglut/freeglut/progs/demos/smooth_opengl3/Makefile.am -text
freeglut/freeglut/progs/demos/smooth_opengl3/smooth_opengl3.c -text
freeglut/freeglut/progs/demos/smooth_opengl3/smooth_opengl3.dsp -text
freeglut/freeglut/progs/demos/smooth_opengl3/smooth_opengl3Static.dsp -text
freeglut/freeglut/progs/demos/smooth_opengl3/smooth_opengl3Static_vs2008.vcproj -text
freeglut/freeglut/progs/demos/smooth_opengl3/smooth_opengl3_vs2008.vcproj -text
freeglut/freeglut/src/.cvsignore svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_callbacks.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_cursor.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_display.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_ext.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_font.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_font_data.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_gamemode.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_geometry.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_glutfont_definitions.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_init.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_input_devices.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_internal.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_joystick.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_main.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_menu.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_misc.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_overlay.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_state.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_stroke_mono_roman.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_stroke_roman.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_structure.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_teapot.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_teapot_data.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_videoresize.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglut_window.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglutdll.def svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/templates/cpp_template svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/templates/header_template svn_keywords=Author+Date+Id+Revision
freeglut/web-src/basic_page.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/dinfo.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/docs/api.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/docs/install.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/freeglut-style.css svn_keywords=Author+Date+Id+Revision
freeglut/web-src/help.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/images/OGL.png svneol=native#unset svn_keywords=Author+Date+Id+Revision
freeglut/web-src/images/chessdemo.png svneol=native#unset svn_keywords=Author+Date+Id+Revision
freeglut/web-src/images/freeglut_logo.png svneol=native#unset svn_keywords=Author+Date+Id+Revision
freeglut/web-src/images/freeglut_logo.xcf svneol=native#unset svn_keywords=Author+Date+Id+Revision
freeglut/web-src/images/freeglut_text.xcf svneol=native#unset svn_keywords=Author+Date+Id+Revision
freeglut/web-src/images/freshmeat.png -text
freeglut/web-src/images/opengl.png -text
freeglut/web-src/images/tuxcake.png svneol=native#unset svn_keywords=Author+Date+Id+Revision
freeglut/web-src/index.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/news.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/progress.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/template.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/uinfo.php svn_keywords=Author+Date+Id+Revision
