* text=auto !eol
freeglut/AUTHORS svn_keywords=Author+Date+Id+Revision
freeglut/COPYING svn_keywords=Author+Date+Id+Revision
freeglut/ChangeLog svn_keywords=Author+Date+Id+Revision
freeglut/FrequentlyAskedQuestions -text
freeglut/LISEZMOI.cygwin_mingw -text
freeglut/LISEZ_MOI svn_keywords=Author+Date+Id+Revision
freeglut/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/Makefile.wat -text
freeglut/NEWS svn_keywords=Author+Date+Id+Revision
freeglut/README svn_keywords=Author+Date+Id+Revision
freeglut/README.cygwin_mingw -text
freeglut/README.win32 svn_keywords=Author+Date+Id+Revision
freeglut/TODO svn_keywords=Author+Date+Id+Revision
freeglut/VisualStudio2008/CallbackMaker/CallbackMaker.vcproj -text
freeglut/VisualStudio2008/Fractals/Fractals.vcproj -text
freeglut/VisualStudio2008/Fractals_random/Fractals_random.vcproj -text
freeglut/VisualStudio2008/Lorenz/Lorenz.vcproj -text
freeglut/VisualStudio2008/One/One.vcproj -text
freeglut/VisualStudio2008/freeglut.sln -text
freeglut/VisualStudio2008/freeglut.vcproj -text
freeglut/VisualStudio2008/shapes/shapes.vcproj -text
freeglut/VisualStudio2008/smooth_opengl3/smooth_opengl3.vcproj -text
freeglut/VisualStudio2008Static/CallbackMaker/CallbackMaker.vcproj -text
freeglut/VisualStudio2008Static/Fractals/Fractals.vcproj -text
freeglut/VisualStudio2008Static/Fractals_random/Fractals_random.vcproj -text
freeglut/VisualStudio2008Static/Lorenz/Lorenz.vcproj -text
freeglut/VisualStudio2008Static/One/One.vcproj -text
freeglut/VisualStudio2008Static/freeglut.sln -text
freeglut/VisualStudio2008Static/freeglut.vcproj -text
freeglut/VisualStudio2008Static/shapes/shapes.vcproj -text
freeglut/VisualStudio2008Static/smooth_opengl3/smooth_opengl3.vcproj -text
freeglut/autogen.sh svn_keywords=Author+Date+Id+Revision
freeglut/configure.ac svn_keywords=Author+Date+Id+Revision
freeglut/doc/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/doc/download.html svn_keywords=Author+Date+Id+Revision
freeglut/doc/freeglut.html svn_keywords=Author+Date+Id+Revision
freeglut/doc/freeglut_logo.png -text
freeglut/doc/freeglut_user_interface.html svn_keywords=Author+Date+Id+Revision
freeglut/doc/index.html svn_keywords=Author+Date+Id+Revision
freeglut/doc/ogl_sm.png -text
freeglut/doc/progress.html svn_keywords=Author+Date+Id+Revision
freeglut/doc/structure.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut.dep -text
freeglut/freeglut.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut.dsw svn_keywords=Author+Date+Id+Revision
freeglut/freeglut.kdevelop svn_keywords=Author+Date+Id+Revision
freeglut/freeglut.kdevprj svn_keywords=Author+Date+Id+Revision
freeglut/freeglut.lsm svn_keywords=Author+Date+Id+Revision
freeglut/freeglut.mak -text
freeglut/freeglut.rc svn_keywords=Author+Date+Id+Revision
freeglut/freeglut.spec svn_keywords=Author+Date+Id+Revision
freeglut/freeglut_evc4.vcp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut_evc4.vcw svn_keywords=Author+Date+Id+Revision
freeglut/freeglut_static.dep -text
freeglut/freeglut_static.dsp svn_keywords=Author+Date+Id+Revision
freeglut/freeglut_static.mak -text
freeglut/include/GL/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/include/GL/freeglut.h svn_keywords=Author+Date+Id+Revision
freeglut/include/GL/freeglut_ext.h svn_keywords=Author+Date+Id+Revision
freeglut/include/GL/freeglut_std.h svn_keywords=Author+Date+Id+Revision
freeglut/include/GL/glut.h svn_keywords=Author+Date+Id+Revision
freeglut/include/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/progs/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/CallbackMaker/CallbackMaker.c svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/CallbackMaker/CallbackMaker.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/CallbackMaker/CallbackMakerStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/CallbackMaker/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals/Fractals.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals/FractalsStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals/fractals.c svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals/fractals.dat svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals_random/Fractals_random.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals_random/Fractals_randomStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals_random/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals_random/fractals.dat svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Fractals_random/fractals_random.c svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Lorenz/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Lorenz/lorenz.c svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Lorenz/lorenz.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Lorenz/lorenzStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/One/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/One/one.c svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/One/one.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/One/oneStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/demos.dsw svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/shapes/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/shapes/shapes.c svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/shapes/shapes.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/shapes/shapesStatic.dsp svn_keywords=Author+Date+Id+Revision
freeglut/progs/demos/smooth_opengl3/Makefile.am -text
freeglut/progs/demos/smooth_opengl3/smooth_opengl3.c -text
freeglut/progs/demos/smooth_opengl3/smooth_opengl3.dsp -text
freeglut/progs/demos/smooth_opengl3/smooth_opengl3Static.dsp -text
freeglut/progs/demos/spaceball/Makefile.am -text
freeglut/progs/demos/spaceball/spaceball.c -text
freeglut/progs/demos/spaceball/spaceball.dsp -text
freeglut/progs/demos/spaceball/spaceball_static.dsp -text
freeglut/progs/demos/spaceball/vmath.c -text
freeglut/progs/demos/spaceball/vmath.h -text
freeglut/progs/demos/spaceball/vmath.inl -text
freeglut/src/Makefile.am svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_callbacks.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_cursor.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_display.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_ext.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_font.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_font_data.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_gamemode.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_geometry.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_glutfont_definitions.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_init.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_input_devices.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_internal.h svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_joystick.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_main.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_menu.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_misc.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_overlay.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_spaceball.c -text
freeglut/src/freeglut_state.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_stroke_mono_roman.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_stroke_roman.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_structure.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_teapot.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_teapot_data.h svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_videoresize.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglut_window.c svn_keywords=Author+Date+Id+Revision
freeglut/src/freeglutdll.def svn_keywords=Author+Date+Id+Revision
freeglut/src/templates/cpp_template svn_keywords=Author+Date+Id+Revision
freeglut/src/templates/header_template svn_keywords=Author+Date+Id+Revision
web-src/basic_page.php svn_keywords=Author+Date+Id+Revision
web-src/dinfo.php svn_keywords=Author+Date+Id+Revision
web-src/docs/api.php svn_keywords=Author+Date+Id+Revision
web-src/docs/install.php svn_keywords=Author+Date+Id+Revision
web-src/freeglut-style.css svn_keywords=Author+Date+Id+Revision
web-src/help.php svn_keywords=Author+Date+Id+Revision
web-src/images/OGL.png svneol=native#unset svn_keywords=Author+Date+Id+Revision
web-src/images/chessdemo.png svneol=native#unset svn_keywords=Author+Date+Id+Revision
web-src/images/freeglut_logo.png svneol=native#unset svn_keywords=Author+Date+Id+Revision
web-src/images/freeglut_logo.xcf svneol=native#unset svn_keywords=Author+Date+Id+Revision
web-src/images/freeglut_text.xcf svneol=native#unset svn_keywords=Author+Date+Id+Revision
web-src/images/freshmeat.png -text
web-src/images/opengl.png -text
web-src/images/tuxcake.png svneol=native#unset svn_keywords=Author+Date+Id+Revision
web-src/index.php svn_keywords=Author+Date+Id+Revision
web-src/news.php svn_keywords=Author+Date+Id+Revision
web-src/progress.php svn_keywords=Author+Date+Id+Revision
web-src/template.php svn_keywords=Author+Date+Id+Revision
web-src/uinfo.php svn_keywords=Author+Date+Id+Revision
