* text=auto !eol
freeglut/freeglut/AUTHORS svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/CMakeLists.txt svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/COPYING svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/ChangeLog svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/README svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/README.android -text
freeglut/freeglut/README.cmake -text
freeglut/freeglut/README.cygwin_mingw svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/README.mingw_cross svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/README.win32 svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/android/Android.mk -text
freeglut/freeglut/android/README -text
freeglut/freeglut/android_toolchain.cmake -text
freeglut/freeglut/config.h.in svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/download.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/freeglut.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/freeglut_logo.png -text
freeglut/freeglut/doc/freeglut_user_interface.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/index.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/ogl_sm.png -text
freeglut/freeglut/doc/progress.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/doc/structure.html svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/freeglut.pc.in -text
freeglut/freeglut/freeglut.rc.in svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/freeglut.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/freeglut_ext.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/freeglut_std.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/include/GL/glut.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/mingw_cross_toolchain.cmake -text
freeglut/freeglut/progs/demos/CallbackMaker/CallbackMaker.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals/fractals.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals/fractals.dat svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals_random/fractals.dat svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Fractals_random/fractals_random.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/Lorenz/lorenz.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/One/objects.ico -text
freeglut/freeglut/progs/demos/One/one.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/One/one.rc -text
freeglut/freeglut/progs/demos/Resizer/Resizer.cpp -text
freeglut/freeglut/progs/demos/init_error_func/init_error_func.c -text
freeglut/freeglut/progs/demos/multi-touch/multi-touch.c -text
freeglut/freeglut/progs/demos/shapes/glmatrix.c -text
freeglut/freeglut/progs/demos/shapes/glmatrix.h -text
freeglut/freeglut/progs/demos/shapes/shapes.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/progs/demos/smooth_opengl3/smooth_opengl3.c -text
freeglut/freeglut/progs/demos/spaceball/spaceball.c -text
freeglut/freeglut/progs/demos/spaceball/vmath.c -text
freeglut/freeglut/progs/demos/spaceball/vmath.h -text
freeglut/freeglut/progs/demos/spaceball/vmath.inl -text
freeglut/freeglut/progs/demos/subwin/subwin.c -text
freeglut/freeglut/progs/demos/timer/timer.c -text
freeglut/freeglut/progs/test-shapes-gles1/AndroidManifest.xml -text
freeglut/freeglut/progs/test-shapes-gles1/CMakeLists.txt -text
freeglut/freeglut/progs/test-shapes-gles1/android_toolchain.cmake -text
freeglut/freeglut/progs/test-shapes-gles1/ndk/AndroidManifest.xml -text
freeglut/freeglut/progs/test-shapes-gles1/ndk/jni/Android.mk -text
freeglut/freeglut/progs/test-shapes-gles1/ndk/jni/Application.mk -text
freeglut/freeglut/progs/test-shapes-gles1/test-shapes-gles1.c -text
freeglut/freeglut/src/android/fg_cursor_android.c -text
freeglut/freeglut/src/android/fg_ext_android.c -text
freeglut/freeglut/src/android/fg_gamemode_android.c -text
freeglut/freeglut/src/android/fg_init_android.c -text
freeglut/freeglut/src/android/fg_input_devices_android.c -text
freeglut/freeglut/src/android/fg_internal_android.h -text
freeglut/freeglut/src/android/fg_joystick_android.c -text
freeglut/freeglut/src/android/fg_main_android.c -text
freeglut/freeglut/src/android/fg_main_android.h -text
freeglut/freeglut/src/android/fg_runtime_android.c -text
freeglut/freeglut/src/android/fg_spaceball_android.c -text
freeglut/freeglut/src/android/fg_state_android.c -text
freeglut/freeglut/src/android/fg_structure_android.c -text
freeglut/freeglut/src/android/fg_window_android.c -text
freeglut/freeglut/src/android/native_app_glue/README -text
freeglut/freeglut/src/android/native_app_glue/android_native_app_glue.c -text
freeglut/freeglut/src/android/native_app_glue/android_native_app_glue.h -text
freeglut/freeglut/src/egl/fg_display_egl.c -text
freeglut/freeglut/src/egl/fg_ext_egl.c -text
freeglut/freeglut/src/egl/fg_init_egl.c -text
freeglut/freeglut/src/egl/fg_init_egl.h -text
freeglut/freeglut/src/egl/fg_internal_egl.h -text
freeglut/freeglut/src/egl/fg_state_egl.c -text
freeglut/freeglut/src/egl/fg_state_egl.h -text
freeglut/freeglut/src/egl/fg_structure_egl.c -text
freeglut/freeglut/src/egl/fg_structure_egl.h -text
freeglut/freeglut/src/egl/fg_window_egl.c -text
freeglut/freeglut/src/egl/fg_window_egl.h -text
freeglut/freeglut/src/fg_callbacks.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_cursor.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_display.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_ext.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_font.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_font_data.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_gamemode.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_geometry.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_gl2.c -text
freeglut/freeglut/src/fg_gl2.h -text
freeglut/freeglut/src/fg_init.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_init.h -text
freeglut/freeglut/src/fg_input_devices.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_internal.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_joystick.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_main.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_menu.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_misc.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_overlay.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_spaceball.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_state.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_stroke_mono_roman.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_stroke_roman.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_structure.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_teapot.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_teapot_data.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_videoresize.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/fg_window.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/freeglutdll.def.in svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/gles_stubs.c -text
freeglut/freeglut/src/mswin/fg_cursor_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_display_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_ext_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_gamemode_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_init_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_input_devices_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_internal_mswin.h svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_joystick_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_main_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_menu_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_spaceball_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_state_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_structure_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/mswin/fg_window_mswin.c svn_keywords=Author+Date+Id+Revision
freeglut/freeglut/src/util/xparsegeometry_repl.c -text
freeglut/freeglut/src/util/xparsegeometry_repl.h -text
freeglut/freeglut/src/x11 svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_cursor_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_display_x11_glx.c -text
freeglut/freeglut/src/x11/fg_ext_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_gamemode_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_glutfont_definitions_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_init_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_input_devices_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_internal_x11.h svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_internal_x11_glx.h -text
freeglut/freeglut/src/x11/fg_joystick_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_main_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_menu_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_spaceball_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_state_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_state_x11_glx.c -text
freeglut/freeglut/src/x11/fg_state_x11_glx.h -text
freeglut/freeglut/src/x11/fg_structure_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_window_x11.c svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/freeglut/src/x11/fg_window_x11_glx.c -text
freeglut/freeglut/src/x11/fg_window_x11_glx.h -text
freeglut/freeglut/src/x11/fg_xinput_x11.c -text svnc_svn_005fkeywords=Author+Date+Id+Revision
freeglut/web-src/basic_page.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/docs/android.php -text
freeglut/web-src/docs/api.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/docs/gles.php -text
freeglut/web-src/docs/install.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/freeglut-style.css svn_keywords=Author+Date+Id+Revision
freeglut/web-src/help.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/images/OGL.png -text
freeglut/web-src/images/chessdemo.png -text
freeglut/web-src/images/freeglut_logo.png -text
freeglut/web-src/images/freeglut_logo.xcf -text
freeglut/web-src/images/freeglut_text.xcf -text
freeglut/web-src/images/freshmeat.png -text
freeglut/web-src/images/opengl.png -text
freeglut/web-src/images/tuxcake.png -text
freeglut/web-src/index.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/news.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/progress.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/template.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/uinfo.php svn_keywords=Author+Date+Id+Revision
freeglut/web-src/upload -text
