body {
	margin-top: 0px ;
	margin-left: 140px ;
	background-color: #FFFFFF;
	color: #000000;
}

a {
	text-decoration: none;
	color: #DD3322;
}

a:hover {
	text-decoration: underline;
}

blockquote, pre {
	color: #000000 ;
	border: 1px #0000CC solid ;
	background-color: #C0C0FF ;
	padding: 3px;
}

.textheader {
	font-size: 1.4em;
	border-bottom: 1px #111166 solid ;
	width: 100%;
}

h1 {
	font-size: 1.4em;
	border-bottom: 1px #111166 solid ;
	width: 100%;
	padding-top: 5px;
}

h2 {
	font-size: 1.2em;
	border-bottom: 1px #999999 solid ;
	width: 100%;
	padding-left: 3px;
}

h3 {
	font-size: 1.1em;
	padding-left: 6px;
}


.indent {
	margin-left: 20px;
}

.navbar-left
{
	font-size: 0.8em
	color: #000000 ;
	background-color: #EDEDFF ;
	position: absolute ;
	float: left;
	left: 0px ;
	top: 0px ;
	width: 130px ;
	border: 1px #A0A0A0 solid ;
	text-align: center;
}

.navbar-smalltext {
	font-size: 0.7em;
	font-style: italic;
}

.navbar-header {
	font-size: 1.0em;
	color: #151111;
	background-color: transparent;
}

.navbar-item {
	font-size: 1.0em ;
	color: #303010 ;
	background-color: #FFFFFF ;
	border: 0px #EDEDFF solid ;
	margin-top: 0px;
	padding: 0px;
}

.img-right {
	float: right;
	color: #209040;
	text-align: center;
}

.news-item {
	border: 1px #000000 solid ;
	margin-bottom: 5px;
	padding: 8px;
	background-color: #EFEFFF;
	color: #000000;
}

.news-header {
	font-size: 1.4em;
	border: 1px #111166 solid ;
	background-color: #FEFEFF;
	color: #000000;
	padding: 5px;
	width: 90%;
}

.news-subheader {
	font-size: 1.1em;
	border-bottom: 1px #111166 solid ;
	width: 100%;
}

th, td {
	border-bottom: 1px solid #aaa;
	vertical-align: top;
}
